@page "/"
@using BTR_Server.Protocol;
@using BTR_Server.SpeedLinkJoystick;
<h1>MAIN PAGE</h1>
<button type="button" class="btn btn-dark btn-danger" @onclick="ResetConnection">Reset Connections!</button>
<button type="button" class="btn btn-dark btn-danger" @onclick="InitJoy">Init joystick</button>
<div class="main-page-form">
    <div class="page-form">

        <h5>STABILIZATION</h5>
        <div class="form-group">
            <label for="inputip">IP</label>
            <input type="number" class="form-control" id="inputip" aria-describedby="IpHelp" placeholder="Enter IP">
        </div>

        <div class="form-group">
            <label for="inputport">Port</label>
            <input type="number" class="form-control" id="inputport" aria-describedby="PortHelp" placeholder="Enter Port">
        </div>

        <div>

            <button type="submit" class="btn btn-primary">Check connect</button>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
                <label class="custom-control-label" for="defaultChecked2">Connected</label>
            </div>
        </div>



    </div>


    <div class="page-form">
        <h5>UTILITY</h5>
        <div class="form-group">
            <label for="inputip2">IP</label>
            <input type="number" class="form-control" id="inputip2" aria-describedby="IpHelp" placeholder="Enter IP">
        </div>

        <div class="form-group">
            <label for="inputport2">Port</label>
            <input type="number" class="form-control" id="inputport2" aria-describedby="PortHelp" placeholder="Enter Port">
        </div>

        <div>

            <button type="submit" class="btn btn-primary">Check connect</button>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultChecked3" checked>
                <label class="custom-control-label" for="defaultChecked3">Connected</label>
            </div>
        </div>


    </div>


    <div class="page-form">
        <h5>POWER</h5>
        <div class="form-group">
            <label for="inputip3">IP</label>
            <input type="number" class="form-control" id="inputip3" aria-describedby="IpHelp" placeholder="Enter IP">
        </div>

        <div class="form-group">
            <label for="inputport3">Port</label>
            <input type="number" class="form-control" id="inputport3" aria-describedby="PortHelp" placeholder="Enter Port">
        </div>

        <div>

            <button type="submit" class="btn btn-primary">Check connect</button>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultChecked4" checked>
                <label class="custom-control-label" for="defaultChecked4">Connected</label>
            </div>
        </div>

    </div>

</div>

<div class="page-form">
    <h5>Pocked</h5>
    <textarea class="span8" rows="3" placeholder="Enter your pocked" required></textarea>


    <div class="form-group">
        <label for="inputip4">IP</label>
        <input type="number" class="form-control" id="inputip4" aria-describedby="IpHelp" placeholder="Enter IP">
    </div>

    <div class="form-group">
        <label for="inputport4">Port</label>
        <input type="number" class="form-control" id="inputport4" aria-describedby="PortHelp" placeholder="Enter Port">
    </div>

    <div class="check-send">

        <button type="submit" class="btn btn-primary">Check</button>
        <div class="custom-control custom-checkbox">

            <input type="checkbox" class="custom-control-input" id="defaultChecked5" checked>
            <label class="custom-control-label" for="defaultChecked5">Connected</label>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultChecked6" checked>
            <label class="custom-control-label" for="defaultChecked6">Connected</label>
        </div>
    </div>


</div>

@code{

    JoystickAPI Joystick = new JoystickAPI();

    void InitJoy()
    {
        Joystick.JoystickInit();
    }


    void ResetConnection()
    {
        ProtocolAPI.StabClient = null;
        ProtocolAPI.UtilityClient = null;
        ProtocolAPI.PowerClient = null;
        MyTCPClient.client = null;

    }

}