@page "/meteodata"
@using BTR_Server.Protocol;
@using BTR_Server.SpeedLinkJoystick;
<h1>METEODATA</h1>

<div class="speed_control">
    <h5>Сила вітру м/м</h5>
    <form onsubmit="return false" oninput="level.value = flevel.valueAsNumber" width="300px">
        <input name="flevel" id="flying" type="range" min="0" max="50" value="0" step="1">
        <output for="flying" name="level">0</output>
    </form>

    <div class="col-md-3 mb-4">

        <label for="speed_control_input">Сила вітру</label>
        <input type="number" class="form-control" id="speed_control_input">
        <button type="button" class="btn btn-dark btn-circle" id="spdcorrection">Submit</button>
    </div>


</div>

<div class="temperature_control">
    <h5>Температура повітря ℃</h5>
    <form onsubmit="return false" oninput="level2.value = flevel2.valueAsNumber" width="300px">
        <input name="flevel2" id="flying2" type="range" min="-20" max="40" value="0" step="1">
        <output for="flying2" name="level2">0</output>
    </form>



    <div class="col-md-3 mb-4">

        <label for="temperature_control_input">Температура повітря ℃</label>
        <input type="number" class="form-control" id="temperature_control_input">
        <button type="button" class="btn btn-dark btn-circle" id="tmpcorrection">Submit</button>
    </div>

</div>

<div class="col-md-3 mb-4">

    <label for="wind_control_input">Напрям вітру (-180° to 180°)</label>
    <input type="number" class="form-control" id="wind_control_input">
    <button type="button" class="btn btn-dark btn-circle" id="wndcorrection">Submit</button>
</div>

<div class="col-md-3 mb-4">

    <label for="pressure_control_input">Атмосферний тиск (мм.рт.ст)</label>
    <input type="number" class="form-control" id="pressure_control_input">
    <button type="button" class="btn btn-dark btn-circle" id="prsrcorrection">Submit</button>
</div>
    


@code{


    void InitJoy()
    {

    }


    void ResetConnection()
    {


    }

}