@using System.Net.Sockets;
@using System.Text;
@using System;

@page "/utility"

<h1>STABILIZATION MODULE</h1>

<p>Current count: </p>

<form>
    <h5>Режим керування</h5>
    <!-- Default inline 1-->
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="motorMode1" name="motorMode" >
        <label class="custom-control-label" for="motorMode1">Стаб</label>
    </div>

    <!-- Default inline 2-->
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="motorMode2" name="motorMode">
        <label class="custom-control-label" for="motorMode2">Ручн</label>
    </div>

    <!-- Default inline 3-->
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="motorMode3" name="motorMode">
        <label class="custom-control-label" for="motorMode3">Трек</label>
    </div>
</form>
<br />
<form>
    <h5>Режим камери</h5>
    <!-- Default inline 1-->
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="cameraMode1" name="cameraMode">
        <label class="custom-control-label" for="cameraMode1">Шир</label>
    </div>

    <!-- Default inline 2-->
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="cameraMode2" name="cameraMode">
        <label class="custom-control-label" for="cameraMode2">Вузьк</label>
    </div>

    <!-- Default inline 3-->
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="cameraMode3" name="cameraMode">
        <label class="custom-control-label" for="cameraMode3">Тепл</label>
    </div>
</form>





@code {
   

}
